body {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

button {
  color: white;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.hidden {
  display: none;
}

.horizontal-center-container {
  display: flex;
  justify-content: center;
}

#quote {
  font-size: 0.9rem;
  position: fixed;
  bottom: 1rem;
  text-align: center;
}

#quote > #quote-author {
  height: 0em;
  opacity: 0;
  transition-property: opacity, height;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-in-out;
}

#quote:hover > #quote-author {
  height: 1em;
  opacity: 1;
  transition-property: opacity, height;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-in-out;
}

.vertical-center-container {
  position: fixed;
  bottom: 45%;
}

#clock {
  font-size: 150px;
  text-align: center;
}

#greeting {
  font-size: 40px;
  text-align: center;
}

#todo > button {
  position: fixed;
  bottom: 100%;
  left: 100%;
}

#todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#todo-list li {
  margin-left: 0px;
}

.todo-checked {
  text-decoration: line-through black 1px;
}

#weather-container {
  position: fixed;
  width: 100px;
  right: 1em;
  top: 1em;
}

#current-weather-icon {
  position: relative;
  width: 50px;
  height: 50px;
  left: 10px;
}

#current-temperature {
  position: relative;
  top: -20px;
  left: 8px;
}

#city-name {
  position: relative;
  top: -10px;
}
